@import "../../config.scss";

.table {
  width: 100%;
  color: #333;
  border-collapse: collapse;
  &__header {
    background: $light-primary;
    &__item {
      font-weight: 400;
      padding: 0.3rem 0;
    }
  }
  &__row {
    text-align: center;
    .number {
      text-align: right;
      padding-right: 1rem;
    }
  }
}
