@import "../../config.scss";

.footer {
  background: $primary;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
  &__name {
    font-size: 1.2rem;
    font-weight: 400;
  }
  &__source {

    a{
      
    }
    
    text-align: center;
    div {
      display: inline-block;
      background: #fff;
      padding: 0.3rem 0.5rem;
      border-radius: 4px;
      box-shadow: 1px 1px 5px rgba(#fff, 0.4);
      font-weight: 400;
      a {
        color: $cases;
      }
    }
  }
}
