@import "../../config.scss";

.number {
  &__card {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    background: $light-primary;
    height: 100%;
  }
  &__title {
    font-size: 1.7rem;
    font-weight: 600;
    padding-bottom: 1rem;
    color: $primary;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    &__title {
      font-size: 1rem;
      color: $unfocus;
    }
    &__value {
      font-size: 2rem;
    }
  }
  &__yesterday {
    font-size: 0.9rem;
  }
}
